


    <div class="container-home" style="display: grid; grid-template-rows: 5fr;">

		<div class="jumbotron <%= @api_color %>">
		  <h1 class="display-4">WaterFlask Application</h1>
		  <p class="lead"><b><%= @final_output %> </b></p>
		  <hr>

		</div>
	



	</div>



